@font-face {
  font-family: "SegoeWPN-Light";
  src: url(../fonts/segoe-wp-light.ttf);
}

body{
  width: 100%;
  max-width: 1250px;
  font-family: "SegoeWPN-Light";
  font-size: 14px;
  color: rgb(144,144,144);
}

.site-nav, .banner, .shopping-cart, .nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.site-nav {
  height: 118.656px
  font-size: 20px;
}

.nav-menu{
  margin: 10px;
}

.menu {
  padding-right: 80px;
}

.logo{
  margin: 2% 0 0 4%;
}

.menu li a{
  font-size: 20px;
  color: rgb(108,108,108);
}

.menu li:hover{
  border-bottom: 3px solid #5094f2;
}

.banner{
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/banner.png);
  background-size: auto;
}

.text-banner {
  font-size: 42px;
  color: rgb(255,255,255);
  font-family: "SegoeWP-Light";
}

.left-col{

}

.text-banner{
  vertical-align: bottom;
}

.check-mark{
  float: left;
}

.button{
  background-color: #5094f2;
  font-size: 22px;
  border-radius: 5px;
  display: inline-block;
}

.circles{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.image-pen, .image-computer, .image-shopcart{
  font-family: "SegoeWPN-Light";
  text-align: center;
}

h2{
  font-size: 42px;
}

.shopping-cart{
  justify-content: space-around;
  align-items: stretch;
}

.product h2{
  color: rgb(111,113,115);
}

.product{
  font-size: 15px;
}

.product h3{
  font-size: 26px;
  color: rgb(111,113,115);
}

.bullet-text li{
  margin-top: 10px;
}

footer{
  border-top: 0.5px solid rgb(144,144,144);
  text-align: center;
  font-size: 15px;
  padding: 25px 25px 25px 25px;
}
